<!-- <div id="guide"> -->
<div id="architechture">
    <div class="landing-text ">
        <h1>Services</h1>
        <h2>Avail 10% discounts</h2>

    </div>
</div>
<!-- Current Date : {{Today | date}} -->

<!-- <main class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-push-3" *ngFor="let dataItem of Listinginfo|filter: SearchCat :'Category' | paginate: {id: 'listing_pagination',
            itemsPerPage: 9,
            currentPage: page,
            totalItems: totalRecords}" ><img class="card-img-top" src={{Path_Thumbnail}}{{dataItem.Thumbnail}} alt="">sada</div>
            <div class="col-md-3 col-md-pull-9">Blahhh</div>
          </div>
    </div>
</main> -->
<!-- <main class="mt-5">
    <div class="container">
        <section class="text-center mb-4">
            <div class="row" *ngFor="let dataItem of Listinginfo|filter: SearchCat :'Category' | paginate: {id: 'listing_pagination',
itemsPerPage: 9,
currentPage: page,
totalItems: totalRecords}">
                <div class="col-sm-4">
                    <img class="" style="width: 100%; max-height: 70%;" src={{Path_Thumbnail}}{{dataItem.Thumbnail}} alt="">
                </div>

                <div class="col-sm-8"> -->
<!-- <p class="text4">Category: {{dataItem.Category}}</p> -->
<!-- <h4 class="card-title"><a>{{dataItem.VendorName}}</a></h4> -->
<!-- <p class="card-text">{{dataItem.VendorName}}</p> -->
<!-- <p class="card-text">{{dataItem.Description}}</p> -->
<!-- <p class="card-text">{{dataItem.Description}}</p> -->

<!-- </div> -->
<!-- {this.state.products.map((item, index) => <Product key={index} slug={item.slug} image={item.image} name={item.name} price={item.price} description={item.description} created={item.created}/>)}
    <h4 style={{ color: "#A52A2A" }}>No Results Found</h4> -->
<!-- </div>
        </section>
    </div>
</main> -->
<!-- <div className="row">
    <div className="offset-3 col-9"></div>
    {this.state.products.map((item, index) => <Product key={index} slug={item.slug} image={item.image} name={item.name} price={item.price} description={item.description} created={item.created}/>)}
    <h4 style={{ color: "#A52A2A" }}>No Results Found</h4>
  </div> -->
<div class="container">
    <!-- <app-minheader></app-minheader> -->
    <!-- LISTING SECTION -->

    <!-- <label> Choose Category </label>
            <input [(ngModel)]='Category'>
            <button (click)="onCategoryFilter()">Search</button>
            <button (click)="onCategoryFilterClear()">Clear</button> -->
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Choose Category</th>
                    <th>Pick Date Range</th>
                    <!-- <th>Email</th> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select a service
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <button type="button" (click)="onCategoryFilterClear()">All</button>
                                <li *ngFor="let dataItem of ServiceList">
                                    <button type="button"
                                        (click)="getServ(dataItem.ServiceName)">{{dataItem.ServiceName}}</button>
                                </li>

                                <!-- <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a> -->
                            </div>
                        </div>
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Enter a date range</mat-label>
                            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                                <input matStartDate formControlName="start" placeholder="Start date">
                                <input matEndDate formControlName="end" placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>

                            <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date
                            </mat-error>
                            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date
                            </mat-error>
                        </mat-form-field>

                    </td>
                    <td>
                        <!-- <button (click)="clearfilter()">Clear</button>
                        <button (click)="onDate()">Search</button> -->
                        <button type="button" class="btn btn-primary" (click)="clearfilter()" style="margin: 1%;">Clear</button>
                        <button type="button" class="btn btn-primary" (click)="onDate()" style="margin: 1%;">Search</button>
                        <p *ngIf="dikhao">Selected range: {{range.value.start | date}} to {{range.value.end | date}}</p>
                    </td>
                    <!-- <td>john@example.com</td> -->
                </tr>
                <!-- <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr> -->
            </tbody>
        </table>
    </div>

    <div class="container py-5">
        <div class="row text-center text-white mb-5">
            <div class="col-lg-7 mx-auto">
                <h1 class="display-4">Product List</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto" *ngFor="let dataItem of Listinginfo|filter: SearchCat :'Category' | paginate: {id: 'listing_pagination',
        itemsPerPage: 6,
        currentPage: page,
        totalItems: totalRecords}">
                <!-- List group-->
                <ul class="list-group shadow">
                    <!-- list group item-->
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">{{dataItem.VendorName}}</h5>
                                <p class="font-italic text-muted mb-0 small">{{dataItem.Description}}</p>
                                <p class="font-italic text-muted mb-0 small">Price : {{dataItem.Price}}</p>
                                <p class="font-italic text-muted mb-0 small"> Avaliable on any dates within: {{dataItem.StartDate}} - {{dataItem.EndDate}} range</p>
                                <p class="font-italic text-muted mb-0 small"> Avaliable Time Slots: {{Timeslot.Time}} {{Timeslot.Time2}} {{Timeslot.Time3}}</p>

                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <!-- <h6 class="font-weight-bold my-2">₹64,999</h6> -->
                                    <button type="button" class="btn btn-primary"
                                        (click)="send_info(dataItem)">Book</button>
                                </div>
                            </div><img src={{Path_Thumbnail}}{{dataItem.Thumbnail}} alt="Generic placeholder image"
                                width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div> <!-- End -->
                    </li> <!-- End -->

                </ul> <!-- End -->
            </div>
        </div>
        <div>
            <pagination-controls id="listing_pagination" (pageChange)="page = $event "></pagination-controls>
        </div>
    </div>